.list_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 15px 30px;
  border-bottom: 1px solid grey;
}

.list_search input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 24px;
  margin-bottom: 0;
}

.order_icon {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .list_search {
    padding: 15px;
  }
}
